<header class="relative bg-gray-900 overflow-hidden h-[300px] md:h-[600px]">
  <div class="absolute inset-0 z-0">
    <img
      src="/banner.png"
      alt="Banner Promocional Scania"
      class="w-full h-full object-cover object-center"
    />
    <div
      class="absolute inset-0 bg-gradient-to-l from-black/40 via-transparent to-transparent"
    ></div>
  </div>

  <div
    class="container mx-auto px-4 h-full relative z-10 flex justify-end items-center"
  >
    <img
      src="/logo.png"
      alt="Importaciones PeruTruck"
      class="w-56 md:w-[500px] mix-blend-screen drop-shadow-2xl opacity-90 mr-4 md:mr-10"
    />
  </div>
</header>

<div class="bg-[#D32F2F] py-3 shadow-lg relative z-20 border-t-4 border-white">
  <div class="container mx-auto text-center">
    <h2
      class="text-white font-extrabold italic text-xl md:text-3xl uppercase tracking-wider drop-shadow-md"
    >
      El Supermercado del Transportista
    </h2>
  </div>
</div>
